<div class="backdrop">
  <div id="main">
    <% if signed_in? %>
      <%= render partial: "layouts/nav_bar_signedin" %>
    <% else %>
      <%= render partial: "layouts/nav_bar_login" %>
    <% end %>
    <div class='root-text'>
      <p class="welcome-home"> Welcome Home </p>
      <p class='clone-text'>
        This is a clone of airBnB with a disney twist. Users are able to book disney landmarks as a place to stay.
      </p>
    </div>
  </div>
  <div id="login"></div>
  <div id="signup"></div>
</div>
