#map-canvas {
  height: 600px;
  width: 40%;
  right: 0;
}

.listing-index {
  height: 600px;
  width: 60%;
  float: left;
  overflow-y: scroll;
}

.listing-container {
  border-top: 1px solid #ddd;
  position: relative;
  background-color: #eee;
  width: 100%;
  // height: 100px;
  // overflow-y: scroll;
}

.listings {
  // position: relative;
  float: left;
  width: 47%;
  margin-bottom: 30px;
  color: #000;
  display: block;
  height: 275px;
  // border: 1px solid #000;
  margin-right: 3%;
}

.listing-picture {
  // position: absolute;
  height: 214px;
  width: 100%;
  display: block;
  background-color: #006699;
  // z-index: 1;
}

// .listing-picture {
//   width: 100%;
//   height: 100%;
// }

.listings a {
  display: block;
  font-size: 16px;
  // display: block;
  // height: 20px;
  color: rgb(86, 90, 92);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
}

.listings p {
  font-size: 14px;
  color: rgb(130,136,138);
  margin-left: 5%;
  margin-right: 5%;
}
