#map-canvas {
  height: 100%;
  width: 40%;
  right: 0;
}

.listing-index {
  height: 100%;
  width: 60%;
  float: left;
  overflow-y: scroll;
}

.listing-index ul {
  border-top: 1px solid #ddd;
  // min-width: 258px;
}

.filter-listings {
  height: 200px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.listing-container {
  border-top: 1px solid #ddd;
  position: relative;
  background-color: #eee;
  width: 100%;
  height: calc(100vh - 50px);
}

.listings {
  min-width: 214px;
  position: relative;
  float: left;
  width: 47%;
  margin-bottom: 30px;
  color: #000;
  display: block;
  height: 275px;
  margin-right: 3%;
}

.picture-container {
  overflow: hidden;
}

.listing-picture {
  height: 214px;
  width: auto;
  display: block;
  overflow: hidden;
  transform: translateX(-10%);
  background-size: cover;
  background-position: center;
}

.listings a {
  display: block;
  font-size: 16px;
  color: rgb(86, 90, 92);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
}

.listings p {
  font-size: 14px;
  color: rgb(130,136,138);
  margin-left: 5%;
  margin-right: 5%;
}

.host-avatar {
  float: right;
  width: 30%;
  height: 100px;
  background-size: cover;
  background-position: center;
  // background-color: black;
  transform:  translateY(-108px);
  margin-right: 25px;
  border-radius: 50px;
  border: 2px solid white;
}

.price-tag {
  width:20%;
  height: 50px;
  position: absolute;
  transform: translateY(270%);
  background-color: rgba(60,63,64,0.9);
  z-index: 5;
}

.listing-price-tag {
  line-height: 2.5;
  padding-left: 5px;
  font-size: 22px;
  color: white;
}
