#map-canvas {
  height: 100%;
  width: 40%;
  right: 0;
}

.listing-index {
  height: 100%;
  width: 60%;
  float: left;
  overflow-y: scroll;
}

.listing-index ul {
  border-top: 1px solid #ddd;
}

.filter-listings {
  height: 200px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.listing-container {
  border-top: 1px solid #ddd;
  position: relative;
  background-color: #eee;
  width: 100%;
  height: calc(100vh - 50px);
}

.listings {
  position: relative;
  float: left;
  width: 47%;
  margin-bottom: 30px;
  color: #000;
  display: block;
  height: 275px;
  margin-right: 3%;
}

.picture-container {
  overflow: hidden;
}

.listing-picture {
  height: 214px;
  width: 100%;
  display: block;
  background-color: #006699;
  overflow: hidden;
}

.listings a {
  display: block;
  font-size: 16px;
  color: rgb(86, 90, 92);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
}

.listings p {
  font-size: 14px;
  color: rgb(130,136,138);
  margin-left: 5%;
  margin-right: 5%;
}
