.form-container {
  height: 100vh;
}
.listing-form {
  height:100vh;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #ddd;
  padding-top: 40px;
  padding-bottom: 40px;
}

.new-listing-header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-top: 1px solid #eee;
  color: rgb(86, 90, 92);
  display: block;
  font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.new-listing-header h3 {
  font-size: 32px;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  margin-bottom: 15px;
}

.new-listing-header p {
  font-size: 16px;
  margin-bottom: 15px;
}

.listing-form div {
  margin-left: 30%;
  margin-right: 30%;
}

.address-input {
  font-weight: bold;
}

div#new-form-search {
  width: 100%;
  transform: translatex(-30%);
  padding-bottom: 20px;
}

.make-listing-button input {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 5%
}

.cloudinary-button {
  width: 14%;
  margin-right: 43%;
  margin-left: 43%;
}
