#map-canvas {
  height: 500px;
  // width: 40%;
  // float: right;
}

.listing-index {
  height: 100%;
  float: left;
  width: 60%;
}

.listing-container {
  position: relative;
  width: 100%;
  height: 100%;
}
