.modal-content {
  padding: 20px;

}

.signup-modal {
  width: 330px;
  height: 200px;
}

.login-modal {
  height: 215px;
}

.session-button {
  color: black;
  background-color: rgb(255, 90, 95);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.session-button.guest-button {
  background-color: #008A8A;
  transform: translateY(-10px);
}

.welcome-statements {
  line-height: 40px;
  margin: 0 0 0px;
  font-weight: bold;
  color: black;
  font-size: 16px;
}
