.modal-content {
  padding: 20px;

}

.signup-modal {
  width: 330px;
  height: 260px;
}

.session-button {
  color: black;
  background-color: rgb(255, 90, 95);
  border: none;
  border-radius: 5px;
  color: white;
}
