.welcome-home {
  text-align: center;
  text-transform: uppercase;
  font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 50px;
  display: block;
  font-weight: bold;
  height: 66px;
  margin-bottom: 50%;
  line-height: 66px;
  // color: #fff;
}

.backdrop {
  width: 864px;
  min-height: 900px;
  // background: url("/assets/lanterns.jpg") no-repeat;
  // background-color: black;
  background-size: cover;
}
