.home p {
  text-align: center;
  font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
  font-weight: bold;
  // margin-bottom: 50%;
  color: #fff;
}

.root-img {
  width: 100%;
}
.welcome-home {
  text-transform: uppercase;
  font-size: 50px;
  display: block;
  height: 66px;
  margin-bottom: 18%;
  line-height: 66px;
  color: #fff;
}

.welcome-home span {
  font-size: 18px;
}

.clone-text {
  font-size: 18px;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 80px;
  color: white;
  text-align: center;
}

.home {
  padding-top: 100px;
  // position: relative;
  // height: 100%;
  width: 100%;
  min-height: 120%;
  // background: url("https://s3-us-west-1.amazonaws.com/disneybnb/disneybnb-images/disney-castle.jpg") no-repeat center center;
  // background-color: black;
  // background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

}

.home-search {
  // position: absolute;
  background-color: rgba(0,0,0,0.6);
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.input-groups {
  margin-left: 30%;
  margin-right: 30%;
}

.input-group {
  float: left;
}

.input-group:first-child {
  input {
    width: 150px;
  }
}

.input-group input {
  width: 100px;
  height: 30px;
}

.root-submit input {
  height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.popular-place-heading {
  text-align: center;
  padding-top: 35px;
}

.main-header {
  font-weight: bold;
  font-size: 28px;
  color: #565a5c;
}

.sub-header {
  font-size: 18px;
  color: #565a5c;
}

.popular-place-images {
  height: 400px;
  padding-top: 30px;
}

.popular-place-one {
  width: 44%;
  height: 300px;
  float: left;
  background-color: #ddd;
  margin-right: 3%;
  margin-left: 3%;
  background-size: cover;
  background-position: center;
  // background: url("https://s3-us-west-1.amazonaws.com/disneybnb/disneybnb-images/san-fransokyo-room-1.jpg")
}

.popular-place-two {
  width: 44%;
  height: 300px;
  float: left;
  background-color: #ddd;
  margin-right: 3%;
  margin-left: 3%;
  background-size: cover;
  background-position: center;

}

.pop-place-one-title {
  text-align: center;
  color: white;
  transform: translateY(300%);
  font-size: 32px;
  font-weight: bold;
}
