<div class='home'>
  <!-- <img class="root-img" src="https://s3-us-west-1.amazonaws.com/disneybnb/disneybnb-images/up_house.jpg"> -->
  <div class='root-text'>
    <p class="welcome-home"> Welcome Home <br> <span>Rent magical places to stay from disney!</span></p>
    <!-- <p class="welcome-description">Rent magical places to stay from disney!</p> -->
  </div>
  <p class='clone-text'>
    This is a clone of airBnB with a disney twist. Users are able to book disney landmarks as a place to stay.
  </p>

  <div class='home-search'>
    <div class="input-groups group">
      <div class="input-group listing-search">
        <input type="text" value="doesn't">
      </div>
      <div class="input-group">
        <input type="text" value="work">
      </div>
      <div class="input-group">
        <input type="text" value="yet">
      </div>
      <div class="root-submit">
        <input type='submit' value="Search!">
      </div>
    </div>
  </div>
</div>
