<div class='home' style="background-image: url(https://s3-us-west-1.amazonaws.com/disneybnb/disneybnb-images/disney-castle-4.jpg)">
  <!-- <img class="root-img" src="https://s3-us-west-1.amazonaws.com/disneybnb/disneybnb-images/disney-castle-3.jpg"> -->
  <div class='root-text'>
    <p class="welcome-home"> Welcome Home <br> <span>Rent magical places to stay!</span></p>
    <!-- <p class="welcome-description">Rent magical places to stay from disney!</p> -->
  </div>
  <p class='clone-text'>
    <br>
    <br>
    <!-- This is a clone of airBnB with a disney twist. Users are able to book disney landmarks as a place to stay. -->
  </p>

  <div class='home-search'>
    <div class="input-groups group">
      <div class="input-group listing-search-home">
        <input id="search" type="text" placeholder="Where do you want to go?">
      </div>
      <div class="input-group">
        <input id='check-in'type="text" placeholder="Start Date">
      </div>
      <div class="input-group">
        <input id='check-out' type="text" placeholder="End Date">
      </div>
      <div class="root-submit input-group">
        <input type='submit' value="Search!">
      </div>
    </div>
  </div>
</div>

<div class='popular-places'>
  <div class='popular-place-heading'>
    <span class='main-header'> Just For the Weekend! </span>
    <br>
    <span class='sub-header'> Discover new, magical places close to home. </span>
  </div>
  <div class='popular-place-images group'>
    <a href="#" class='san-francisco-link'>
      <div class='popular-place-one' style="background-image: url(https://s3-us-west-1.amazonaws.com/disneybnb/disneybnb-images/san-fransokyo-room-1.jpg)">
        <p class="pop-place-one-title"> San Francisco </p>
      </div>
    </a>
    <a href="#" class='new-york-link'>
      <div class='popular-place-two' style="background-image: url(https://s3-us-west-1.amazonaws.com/disneybnb/disneybnb-images/new-york-city.jpg)">
          <p class="pop-place-one-title"> New York City </p>
      </div>
    </a>
  </div>
  </div>
</div>
