<h2> Listings Index </h2>

<div class=""
<ul>
<% listings.each( function(listing) { %>
  <li>
    <a href="#/listings/<%= listing.get('id') %>">
      <%= listing.escape('title') %>
    </a>
  </li>
<% }) %>
</ul>
