<li>
  <!-- <a href="#">Log In</a> -->
<a type="link" class="link link-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Login</a>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h4> Sign In </h4>

      <form action=<%=session_url%> method="post">
        <%= auth_token_input %>
        <label> Username
          <input type="text" name="user[username]" value="Elsa">
        </label>
        <br>
        <label>Password
          <input type="password" name="user[password]" value="password">
        </label>
        <br>
        <input type="submit" value="Sign In">
      </form>

    </div>
  </div>
</div>
</li>
