<li>
  <!-- <a href="#">Log In</a> -->
<a type="link" class="link link-primary" data-toggle="modal" data-target=".bs-example-modal-sm1">Sign Up</a>

<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h4> Sign Up </h4>

      <form action=<%=users_url%> method="post">
        <%= auth_token_input %>
        <label> Username
          <input type="text" name="user[username]" value="Olaf">
        </label>
        <br>
        <label>Password
          <input type="password" name="user[password]" value="password">
        </label>
        <br>
        <label>Email Address
          <input type="text" name="user[email]" value="Olaf@Arrendale">
        </label>
        <input type="submit" value="Sign Up">
      </form>

    </div>
  </div>
</div>
</li>
